.main {
  border: 2px solid black;
  border-bottom: none;
  overflow-y: auto;
  height: 30rem;
}



table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

thead {
  border: 2px solid oklch(55.4% 0.046 257.417);
  background-color: oklch(55.6% 0 none);
  color: oklch(86.9% 0.005 56.366);
  position: sticky;
  top: 0;
  z-index: 2
}


th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid oklch(26.8% 0.007 34.298)
}