.manual  {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  background-color:  oklch(70.9% 0.01 56.259);
  width: 50%;
  color: oklch(14.7% 0.004 49.25)
}

.title_button {
    font-size: 1.5rem; 
  line-height: calc(2 / 1.5);
  background-color: oklch(55.4% 0.135 66.442);
  width: 50%;
}

:hover.title_button {
  cursor: pointer;
}